data/1.0.1/images/ome-zarr
*.h5
__pycache__/
tmp*
**/.idea
*.iml
*.DS_Store
data/dev-*
*.tif
*.swp
software
*.zip
*.n5
*/*.ome.zarr
data/bkp
data/rawdata/evaluation
checkpoints/
mmpb.egg-info/
build/
dist/
